@{
    ViewData["Title"] = "Confirmación de Correo Electrónico";
}

<main>
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Muchas gracias por confirmar su Correo Electrónico. Por favor, haga click <a asp-controller="Account" asp-action="Login">AQUI</a> para ingresar.
        </p>
    </div>
</main>