@{
    ViewData["Title"] = "Confirmación de reinicio de clave";
}

<main>
    <h1>@ViewData["Title"]</h1>
    <p>
        Su clave ha sido reniciada. Por favor, haga click <a asp-controller="Account" asp-action="Login">AQUI</a> para ingresar al sistema.
    </p>
</main>