@model IndexViewModel
@{
    ViewData["Title"] = "Administrar su Cuenta";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Modifique la configuración de su cuenta</h4>
    <hr />

    <dl class="dl-horizontal">
        @*<dt>Datos Personales:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="Edit" class="btn-bracketed">Editar</a>
        </dd>*@

        <dt>Clave:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Modificar</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Crear</a>
            }
        </dd>

        <dt>Redes Sociales:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Gestionar</a>
        </dd>

    </dl>

</div>
