@model MovieCollection.Models.Genre

@{
    ViewData["Title"] = "Eliminar Registro";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger">Está seguro de eliminar el registro?</h3>
<div>
    <h4>Género</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdGenre" />
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
